---
layout: default
---

<div class="posts">
  <div class="left">
    <ul>
      {% for post in site.posts %}
      <li>
        <a href="#{{ post.anchor }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="right">
    {% for post in site.posts %}
      <article class="post" id="{{ post.anchor }}">
  
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  
        <div class="entry">
          <span>{{ post.excerpt }}</span>
          <span>{{ post.update }}</span>
        </div>
  
        <a href="{{ site.baseurl }}{{ post.url }}" target="_blank" class="read-more">查看更多</a>
      </article>
    {% endfor %}
  </div>
</div>